.titulo {
  text-align: center;     /* título centralizado */
  color: orangered;
  font-weight: bold;
  margin: 5px;
  font-size: 28px;
}

.itens ul {
  list-style-type: none;  /* remove as bolinhas */
  padding: 0;
  margin: 0;
  text-align: center;     /* centraliza os itens da lista */
}

.itens li {
  margin: 8px 0;
  font-size: 20px;
  color: rgb(0, 0, 49);
  text-align: center;     /* centraliza cada item */
}



.itens {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

 .itens div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 49);
}

body {
  width: 210mm;
  height: 297mm;
  padding: 10px;
  margin: 10mm;
}





.imagem-superior {
  width: 100%;          /* mantém a imagem cheia */
  position: relative;   /* permite mover em relação ao fluxo normal */
  top: -20px;           /* sobe a imagem (valor negativo = para cima) */
  left: -20px;           /* desloca para a direita */
}



.cardapio {
  width: 100%;
  height: 72%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.informativo {
  width: 100%;
  text-align: center;
  margin-top: 30px;   /* espaço acima do texto */
  margin-bottom: 20px; /* espaço abaixo do texto */
  font-size: 1px;
  font-style: italic; /* opcional: deixa em itálico para parecer observação */
  color: #333;
}

.imagem-inferior {
  width: 100%;
  display: block;
  margin-top: 20px;   /* separa da sobremesa/informativo */
}






